{% assign lastElementClass = '' %}

{% if showFeatured %}
	{% assign lastRowItems = articleLimit | minus: articleColumns | plus: 1 %}
	{% if forloop.index > lastRowItems %}
		{% assign lastElementClass = 'visually-hidden' %}
	{% endif %}
{% endif %}

<div class="blogModule-posts__post block  will-animate {% unless article.image %}blogModule-posts__post--no-image{% else %}blogModule-posts__post--has-image{% endunless %} {{ lastElementClass }} {% if settings.transition_grid_items %}will-animate{% endif %}" data-animation="fadeInUp">
	<a href="{{ article.url }}" aria-label="{{ article.title }}" title="{{ article.title }}" class="blogModule-posts__post-link">
		<div class="blogModule-posts__post-block">
			<div class="carousel-slide-image lazyload fade-in"
			{% if article.image %}
			data-bgset="{% include 'bgset', image: article.image %}"
			data-sizes="auto"
			data-parent-fit="cover"
			{% endif %}></div>
			<noscript>
				<div class="carousel-slide-image" style="background-image:url('{{ article.image | img_url: '2048x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
			</noscript>

			<div class="carousel-slide-info">
				<p class="h6">{{ article.title }}</p>
				<p style="margin-bottom: 20px;">{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
				{%- if section.settings.tags -%}
					<p class="post-tags">{{ article.tags | join: ', ' | downcase }}</p>
				{%- endif -%}
				<p class="post-date">{{ article.published_at | date: '%B %d, %Y' }}</p>

			{%- if section.settings.author -%}
				<p class="post-author">{{ article.user.first_name }} {{ article.user.last_name }}</p>
			{%- endif -%}
			</div>
		</div>
	</a>
</div>