{% comment %} Settings {% endcomment %}
{%- assign heading = section.settings.title -%}
{%- assign html = section.settings.html -%}

<style>
  {% assign section_class = "" %}
  {% if section.settings.enable_equal_height %}
  
  	{% assign section_class = "equal__height-section" %}
  
  	#shopify-section-{{ section.id}} .equal__height-section .inner__flax-row{
      	background-color: {{ section.settings.background_color }}; 
    }
  
  	#shopify-section-{{ section.id}} .equal__height-section .content-side h2,
  	#shopify-section-{{ section.id}} .equal__height-section .content-side p,
  	#shopify-section-{{ section.id}} .equal__height-section .content-side .button{
      	color: {{ section.settings.font_color }}; 
      	background-color: transparent;
    }
  
  	#shopify-section-{{ section.id}} .equal__height-section .content-side .button{
      	border: 1px solid {{ section.settings.font_color }}; 
    }
  
  	#shopify-section-{{ section.id}} .equal__height-section .content-side .button:hover{
    	background-color: #fa0d3d;
    	border: 1px solid #fa0d3d;  
      	color: #ffffff;
    }
  
  	#shopify-section-{{ section.id}} .equal__height-section .image-holder img{
    	width: 100%;  
    }
  
  	#shopify-section-{{ section.id}} .equal__height-section .content-side{
    	padding-bottom: 40px; 
      	padding-left: 40px;
    }
  
  	@media screen and (max-width: 768px){
        #shopify-section-{{ section.id}} .equal__height-section{
        	padding-top: 50px;  
        }
    }
  
  	@media screen and (min-width: 768px){
      
      	#shopify-section-{{ section.id}} .equal__height-section{
        	/*padding-top: 100px; */ 
        }
      
      	#shopify-section-{{ section.id}} .equal__height-section .inner__flax-row{
            display: flex;
            align-items: unset;
            width: 100%;
        }
      
  		#shopify-section-{{ section.id }} .scarlet-planet-section .image-holder {
    	   	width: 50%;
          	display: inherit;
    	}
      
      	#shopify-section-{{ section.id }} .scarlet-planet-section .image-holder img{
        	min-height: 550px;  
        }
      
      	#shopify-section-{{ section.id }} .scarlet-planet-section .content-side {
    	   	width: 50%;
          	position: relative;
    		height: auto;
    	}
      
      	#shopify-section-{{ section.id}} .equal__height-section .content-side .inner{
            padding: 45px 28% 0 14%;
          	padding: 50px 0 0 10px;
        }
      
      	#shopify-section-{{ section.id}} .equal__height-section .content-side .inner h2{
    	    font-size: 50px;
    		line-height: 52px;
    		margin-bottom: 25px;
        }
      
      	#shopify-section-{{ section.id}} .equal__height-section .content-side .inner p{
         	<!--margin-bottom: 50%;-->
          	font-size: 16px;
    		line-height: 20px;
        }
      
      	#shopify-section-{{ section.id}} .equal__height-section .content-side .btn__container{
         	position: absolute;
            left: 50px;
            bottom: 50px; 
        }
    }
  
  {% endif %}

	.content-side .inner p {
		color: {{section.settings.font_color}}
	}

	.scarlet-planet-section.section-{{ section.id }} {
		margin-bottom: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
		background: {{section.settings.background_color}}
	}

	.scarlet-planet-section.section-{{ section.id }} .button {
	background-color: transparent;
}

</style>

<section class="scarlet-planet-section section-{{ section.id }}  will-animate {{section_class}}" data-section-id="{{ section.id }}" data-section-type="planet-section" data-animation="fadeInLeft">
    <div class="container">
      <div class="row row-lg">
        
       	{% if section.settings.enable_equal_height %}
        	<div class="inner__flax-row">
        {% endif %}
              
	    {% for block in section.blocks %}
		    {% case block.type %}
		    {% when 'image' %}
			    <div class="image-holder" {{ block.shopify_attributes }}>
			    {%  assign image =  block.settings.image_left  %}
		<img
                srcset="{% if image.width >= 350 %}{{ image | img_url: '350x' }} 350w,{% endif %}
                  {% if image.width >= 750 %}{{ image | img_url: '750x' }} 750w,{% endif %}
                  {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w,{% endif %}
                  {% if image.width >= 1500 %}{{ image | img_url: '1500x' }} 1500w,{% endif %}
                  {% if image.width >= 2200 %}{{ image | img_url: '2200x' }} 2200w,{% endif %}
                  {% if image.width >= 3000 %}{{ image | img_url: '3000x' }} 3000w,{% endif %}
                  {{ image | img_url: 'master' }} {{ image.width }}w"
                sizes="(min-width: 1440px) 1340px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ image | img_url: '1100x' }}"
                loading="lazy"
                width="{{ image.width }}"
                height="{{ image.height }}"
                alt="{{ image.alt | escape }}">
			    </div>
		    {% endcase %}
		{% endfor %}
        <div class="content-side">
          	<div class="inner align-{{section.settings.align}}">
              {%- if heading != blank -%}
                  <h2 class="">{{ heading }}</h2>
                {%- endif -%}
              {%- if html -%}
                {{ html }}
              {%- endif -%}
              <div class="row-icon">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'icon-block' %}
                    <div class="holder-icon" {{ block.shopify_attributes }}>
                        <img src="{{ block.settings.icon | img_url: '160x' }}">
                      	<span>{{ block.settings.label }}</span>
                    </div>
                {% endcase %}
              {% endfor %}
          	</div>
              
            {% if section.settings.cta != "" %}  
              	<div class="btn__container">
                	<a href="{{section.settings.link }}" class="button">{{section.settings.cta }}</a>  
              	</div>
            {% endif %}  
              
        </div>
      </div>
        
       {% if section.settings.enable_equal_height %}
        </div>
       {% endif %}  
        
      </div>
  </div>
</section>

{% schema %}
{
  "name": "Image Text - type 2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Better for you and the planet"
    },
    {
      "type": "html",
      "id": "html",
      "label": "Copy",
      "default": "<p>All our products are made using the highest quality materials and sustainable methods. Atemporem quoditi orepro to quas molendi odicat dicilit, nis nes illuptata doluptat lam auda plita sequas dolupti orestiae rernam.</p>"
    },
  	{
	  "type": "text",
	  "id": "cta",
	  "label": "Button label",
	  "default": "Shop Now"
	},
	{
	  "type": "url",
	  "id": "link",
	  "label": "Button link",
	  "default":"/collections/all"
	},
  	{
  	  "type": "checkbox",
  	  "id": "enable_equal_height",
  	  "label": "Align equal height?"
  	},
  	{
  	  "type": "header",
  	  "content": "Color Settings"
  	},
  	{
  	  "type": "color",
  	  "id": "background_color",
   	  "label": "Background color",
  	  "default": "#FFFFFF"
  	},
  	{
  	  "type": "color",
  	  "id": "font_color",
   	  "label": "Font color",
  	  "default": "#000"
  	},
		{
			"type": "select",
			"id": "align",
			"label": "Align Content",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				}
			],
			"default": "left"
		}
  
  ],
  "blocks": [
      {
        "name": "image",
        "type": "image",
		"limit": 1,
        "settings": [
          {
            "id": "image_left",
            "type": "image_picker",
	    	"label": "Image", 
	    	"info": "Upload an image to be added to the the left of this spot"
          }
        ]
      },{
        "name": "icons",
        "type": "icon-block",
		"limit": 4,
        "settings": [
          {
            "id": "icon",
            "type": "image_picker",
	    	"label": "Icon", 
	    	"info": "Upload an image to be added to this icon spot"
          },{
            "id": "label",
            "type": "text",
	    	"label": "Label", 
	    	"info": "Text next to the icon"
          }
        ]
      }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Image Text - type 2"
    }
  ]
}
{% endschema %}