{% assign columnsSize = '4' %}

<section class="page-title container-wrap">
  <div class="container">
    <div class="row row-lg inline">
      <h1>{{ 'search.content.title' | t }}</h1>
    </div>
  </div>
</section>
<section class="collectionGrid container-wrap">
  <div class="container">
    <div class="breadcrumbs  row inline row-lg block{% if search.results_count == 0 %} search-alert{% endif %}">
      <h4>
      {% if search.performed %}
        {% if search.results_count == 0 %}{{ "search.content.no_results" | t: search: search.terms }}{% else %}{{ "search.content.has_results" | t: search: search.terms }}{% endif %}
      {% endif %}
      </h4>
    </div>
    <div class="collectionGrid-nav row inline row-lg">
     
      <div class="collectionGrid-filter block s1 sm_s34 lg_s23">
        <form action="/search" method="get" class="search-page-form clearfix" role="search">
          <input type="hidden" name="type" value="product" />
          <input name="q" type="search" id="search-field" placeholder="Search term" value="{{ search.terms | escape }}" />
          <input type="submit" id="search-submit" class="button" value="{{ 'search.button.text' | t }}" />
        </form>
      </div>
    </div>
    {% if search.performed %}
      {% paginate search.results by 48 %}
        <div id="MainContent">
          <div class="collectionGrid-load load-more-icon"></div>
          <div class="js-collectionGrid collectionGrid-row row inline row-lg{{featured}} EndlessClick">

            {% for product in search.results %}
              {% include 'collectionGrid-block' %}
              {% assign src = '' %}
            {% endfor %}

            
            {% if paginate.next %}
              <div class="pagination u-center">
                <a href="{{ paginate.next.url }}" class="js-loadMore loadMore button">{{ 'collections.pagination.load_more' | t }}</a>
                <div class="load-more-icon"></div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endpaginate %}
    {% endif %}
  </div>
</section>


